*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(88, 36, 109);
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-family: 'Roboto Mono', monospace;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto Mono', monospace;
}

.box{
    border: 2px solid black;
    font-size: 7.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box:hover{
    background-color: rgb(233, 224, 240);
}

.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bb-0{
    border-bottom: 0;
}

.info{
    font-size: 24px;
}

#reset{
    margin: 10px 20px;
    padding: 5px 7px;

    background-color: rgb(233, 224, 240);
    border-radius: 10px;
}

@media screen and (max-width: 950px){

    nav{ 
        padding: 0.5rem;
    }

    .gameContainer{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }

    .info{
        font-size: 20px;
    }

    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

}